:root {
    --color-primary: #141414;
    --color-secondary: #54595F;
    --color-darksky: #4054B2;
    --color-sky: #3957FF;
    --color-lightsky: #6EC1E4;
    --color-lightgreen: #61CE70;
    --color-darkgreen: #23A455;
    --color-lightred: #FF5E5E;
    --color-lightblack: #191919;
    --color-white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("../public/carousel/cows.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.active {
    color: var(--color-lightgreen) !important;

    &::before {
        transform: none !important;
    }

    @media (max-width: 1024px) {
        color: var(--color-white) !important;
    }
}

.hidden {
    display: none !important;
}


// NAVIGATION BAR


.nav__container {
    width: 100%;
    display: flex;
    padding: 0.4rem 1rem;
    background-color: var(--color-white);
    font-size: 0.96rem;
    position: sticky;
    z-index: 100;
    
    .nav__menu-bar-toggle {
        display: none;
    
        @media (max-width: 1024px) {
            display: block;
            width: 30px;
            height: 30px;
            background-color: var(--color-lightsky);
            border: 1px solid var(--color-lightsky);
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 50%;
            z-index: 1000;
        }
    }
    
    .nav__menu-bar-toggle.active {
        background-color: var(--color-lightgreen);
    }

    .nav__brand {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        .nav__img-mobile {
            display: none;
        }
    }

    .nav__navbar {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding-bottom: 0.1rem;
        font-size: 0.9rem;
        
        .nav__menu-list {
            display: flex;
            list-style: none;
            
            li {
                margin: 0 1rem;
    
                a {
                    color: var(--color-black);
                    position: relative;
                    text-decoration: none;
                    
                    &:hover {
                        color: var(--color-darkgreen);
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 3px;
                        border-radius: 4px;
                        background-color: var(--color-darkgreen);
                        bottom: -3px;
                        left: 0;
                        transform-origin: left;
                        transform: scaleX(0);
                        transition: transform .3s ease-in-out;
                    }
                }

                a:hover::before {
                    transform-origin: left;
                    transform: scaleX(1);
                }
            }
        }
    }

    @media (max-width: 1024px) {
        flex-direction: column;
        position: fixed;
        background-color: var(--color-lightgreen);
        opacity: 0.9;
        width: 40%;
        padding: 0;
        height: 100vh;
        right: 0;
        border-radius: 20px 0 0 20px;

        .nav__brand {
            height: 80px;
            width: 100%;
            background-color: var(--color-white);
            border-radius: 20px 0px 20px 0;

            .nav__img-mobile {
                display: block;
            }
            .nav__img-desktop {
                display: none;
            }

        }
        .nav__navbar {
            flex-direction: column;
            align-items: flex-start;
            font-size: 1.2rem;
            
            .nav__menu-list {
                flex-direction: column;
                width: 100%;
                
                li {
                    text-align: center;
                    display: flex;
                    width: 100%;
                    
                    margin: 0;

                    a {
                        display: flex;
                        padding: 1rem 1rem 1rem 3rem;
                        border-bottom: 1px solid var(--color-white);
                        width: 100%;

                        @media (max-width: 640px) {
                            padding-left: 0.8rem;
                        }
                    }
                }
            }

            @media (max-width: 640px) {
                font-size: 0.8rem;
                padding-top: 2rem;
                }
            }
        }
    @media (max-width: 640px) {
        .nav__brand {
            display: none;
        }
    }
}








// FOOTER

.footer {
    width: auto;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer__widgets-container {
        background-color: var(--color-lightblack);
        color: var(--color-white);
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        .footer__widgets-title {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            font-weight: 500;
        }

        .footer__widgets-item-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;


            .footer__widgets-item-list {
                
                .footer__widgets-text {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                    font-weight: 300;
                    display: flex;
                    align-items: center;
                    position: relative;
    
                    svg {
                        position: absolute;
                        left: -30px;
                        bottom: -3px;
                    }
                }
            }

        }
    }

    .footer__items-container {
        background-color: var(--color-primary);
        color: var(--color-secondary);
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .footer__items-wrapper {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;

            .footer__items-icons {
                a {
                    margin-left: 1rem;
                }
            }
        }
        .footer__copyrights {
            p {
                color: var(--color-white);
            }
        }
    }
}

